<div id="navHolder">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a class="active" href="/" style="color:#33B200"><i class="fa fa-dashboard fa-fw"></i>Dashboard - Live</a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            House Keeping <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/BulkStatusCode/Index">Bulk Status Code</a>
                            </li>
                            <li>

                                <a href="/ProductCategories/Index">Product Categories</a>
                            </li>
                            <li>

                                <a href="/Suppliers/Index">Suppliers</a>
                            </li>
                            <li>

                                <a href="/Bank/Index">Banks</a>
                            </li>
                            <li>

                                <a href="/Branch/Index">Branches</a>
                            </li>
                            <li>

                                <a href="/Brand/Index">Brands</a>
                            </li>
                            <li>

                                <a href="/Company/Index">Companies</a>
                            </li>
                            <li>

                                <a href="/Attributes/Index">Attributes</a>
                            </li>
                            <li>

                                <a href="/Provider/ProviderCommsTemplates">Provider Comms Templates</a>
                            </li>
                            <li>

                                <a href="/Provider/ProviderCommsTemplates">Other Comms Template</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Maintenance <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/DNC/Index">DNCs</a>
                            </li>
                            <li>

                                <a href="/FraudulentCredentials/Index">Fraudulent Credentials</a>
                            </li>
                            <li>

                                <a href="/OrderCancelReason/Index">Order Cancel Reason</a>
                            </li>
                            <li>

                                <a href="/OrderCancelReasonDetail/Index">Order Cancel Reason Detail</a>
                            </li>
                            <li>

                                <a href="/Campaigns">Campaigns</a>
                            </li>
                            <li>

                                <a href="/Deals/Index">Deals</a>
                            </li>
                            <li>

                                <a href="/Manufacturers/Index">Manufacturers</a>
                            </li>
                            <li>

                                <a href="/Products/Index">Products</a>
                            </li>
                            <li>

                                <a href="/Tariff">Tariffs</a>
                            </li>
                            <li>

                                <a href="/Provider/Index">Provider</a>
                            </li>
                            <li>

                                <a href="/ProviderVouchers">Provider Vouchers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Personnel <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/Users/Index">Users</a>
                            </li>
                            <li>

                                <a href="/Roles/Index">Roles</a>
                            </li>
                            <li>

                                <a href="/FeatureCategories/Index">Feature Categories</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Quality Assurance <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/QAForms/Reactive">Reactive QA</a>
                            </li>
                            <li>

                                <a href="/QAForms/CustomerCare">Customer Care QA</a>
                            </li>
                            <li>

                                <a href="/QASections/Index">QA Sections</a>
                            </li>
                            <li>

                                <a href="/QAQuestions/Index">QA Questions</a>
                            </li>
                            <li>

                                <a href="/QAForms/Supervisor">Supervisor QA</a>
                            </li>
                            <li>

                                <a href="/QA/Index">Completed QA</a>
                            </li>
                            <li>

                                <a href="/QAForms/Sales">Start Sales/Non-Sales QA</a>
                            </li>
                            <li>

                                <a href="/QAForms/QA">QA of QA</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Sales <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/Orders/StartSellingLead">Start Selling Leads</a>
                            </li>
                            <li>

                                <a href="/Orders/Selling">Start Selling</a>
                            </li>
                            <li>

                                <a href="/Orders/ReferralList">Referral List</a>
                            </li>
                            <li>

                                <a href="/SaleReferralMapping/Index">Sale Referral Mapping</a>
                            </li>
                            <li>

                                <a href="/BulkStatusFileUpload/Index">Upload Bulk Status</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leads <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/Leads/AgentLeads">Agent Lead Mapping</a>
                            </li>
                            <li>

                                <a href="/LeadStatus/Index">Lead Status</a>
                            </li>
                            <li>

                                <a href="/LeadStatusDetails/Index">Lead Status Details</a>
                            </li>
                            <li>

                                <a href="/LeadUploadFormat">LeadUploadFormat</a>
                            </li>
                            <li>

                                <a href="/LeadUploadElement">LeadUploadElement</a>
                            </li>
                            <li>

                                <a href="/Leads/Index">Upload Leads</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Customer Care <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/Customers/Search">Search Customer</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Retentions/Operations <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/ProviderOrderView/OrderItemStatusIndex?Stage=11&amp;Status=3&amp;Label=Cancelled%20Orders&amp;ButtonPage=_CancelledOrders&amp;ButtonCount=2">Cancelled Orders</a>
                            </li>
                            <li>

                                <a href="/Reports/AllOrders/Index">All Orders</a>
                            </li>
                            <li>

                                <a href="/Reports/SummaryStatus/Index">Summary Status</a>
                            </li>
                            <li>

                                <a href="/ProviderOrderView/LoadAVSFailedQueue">AVS</a>
                            </li>
                            <li>

                                <a href="/ProviderOrderView/OrderItemStatusIndex?Stage=11&amp;Status=3&amp;Label=Activation%20-%20Pending%20Orders&amp;ButtonPage=_CancelledOrders&amp;ButtonCount=2">Activation</a>
                            </li>
                            <li>

                                <a href="/Orders/GetOrderStatusChange">Order Status Change</a>
                            </li>
                            <li>

                                <a href="/Customers/FraudCheck">Fraud Check</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/SalesReports/WeeklyVetting">Weekly Vetting</a>
                            </li>
                            <li>

                                <a href="/ProviderOrderView/OrderItemStatusIndex?Stage=11&amp;Status=3&amp;Label=Attachment&amp;ButtonPage=_CancelledOrders&amp;ButtonCount=2">Attachments</a>
                            </li>
                            <li>

                                <a href="/ProviderOrderView/OrderItemStatusIndex?Stage=3&amp;Status=3&amp;Label=Vetting%20-%20Pending%20Orders&amp;ButtonPage=_OrderedBusyOrderItems&amp;ButtonCount=2">Vetting Pending</a>
                            </li>
                            <li>

                                <a href="/BulkStatusFileUpload/Index">Bulk Status File Upload</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Stock System <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="http://stock.ignition.co.za/login.php">Open Stock System</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            QA Reports <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAAgentProductivityWithSalesAgents">QA Agent Productivity With Sales Agents</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QADaily">Daily QA</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QALowScoreAverageContainer">QA Low Score Average Container</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAReferralReasons">QA Referral Reasons</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAScores">QA Scores</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAVerifierQuality">QA Verifier Quality</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAVerifierQualityDetail">QA Verifier Quality Detail</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAVerifierReferralReasons">QA Verifier Referral Reasons</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QACampaignQuality">QA Campaign Quality</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QACampaignQualityDetail">QA Campaign Quality Detail</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/NonQAAgent">Non QA Agent</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QASalesAgentQuality">QA Sales Agent Quality</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/QAReports/QAReactive">QA Reactive</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/Reports/QASalesData/Index">QA Sales Data</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/Reports/QAOpsPriority/Index">QA Ops Priority</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/Reports/QAVariance/Index">QA Variance</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Sales Reports <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/Reports/ProviderSummaryStatus/Index">Provider Summary Status</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/SalesReports/DailySalesOrder">Daily Sales Order</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/SalesReports/DealSales">Deals Sales</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Stock Reports <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/StockStatusCount">Stock Status Count</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/StockDetailReport">Stock Detail Report</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/ManualInvoiceReport">Manual Invoice Report</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/ReturnsReport">Returns Report</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/Reports/StockDispatch/Index">Dispatch Report</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/ConsignmentReport">Consignment Report</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/ProductListing">Product Listing</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/PurchaseOrderListing">Purchase Order Listing</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/ManualInvoicingListing">Manual Invoicing Listing</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/StocksReports/DailyStockCount">Daily Stock Count</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Leads Reports <span class="fa arrow"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>

                                <a href="/Reports/LeadsDisposition/Index">Leads Disposition Details</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/LeadsReports/SummaryStatus">Summary Status Leads</a>
                            </li>
                            <li>

                                <a target="_blank" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#page-wrapper" href="/LeadsReports/LeadView">Lead View</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</div>